<div class="quiz row">
<h3 class="text-center assessment-title">Редагування тесту</h3>
<div ng-show="sendMessage" class="alert col-sm-12 text-center" ng-class="sendMessageClass">{{sendMessage}}</div>
	<div class="col-md-8">
		<form name="quizEditForm" novalidate>
			<div class="col-md-12 jumbotron">
		
				<label class="col-md-5 control-label text-right">Назва тесту</label>
				<div class="col-md-7 ">
					<input ng-model="quiz.title" class="form-control" type="text" required />
				</div>
			
			
				<label class="col-md-5 control-label quizMarginTop text-right">Опис тесту</label>
				<div class="col-md-7 quizMarginTop ">
					<textarea ng-model="quiz.description" class="form-control"  type="text" required></textarea>
				</div>
			
				<label class="col-lg-5 control-label quizMarginTop text-right">Теги до тесту</label>
				<div class="col-lg-7 quizMarginTop ">
					<tags-input ng-model="quiz.tags" display-property="tag" placeholder="Додайте теги" add-from-autocomplete-only="true">
						<auto-complete source="loadTags($query)" min-length="1" load-on-focus="true"></auto-complete>
					</tags-input>
				</div>
			
				<label class="col-md-5 control-label quizMarginTop  text-right">Категорія</label>
				<div class="col-md-7 quizMarginTop ">
					<select ng-change="" ng-model="selectedCat" ng-options="category.title for category in cats" class="form-control" required>
					</select>
			   	</div>
			   
			   
				<label class="col-md-5 control-label quizMarginTop  text-right">Підкатегорія</label>
				<div class="col-md-7 quizMarginTop ">
					<select ng-model="selectedSubcat" ng-options="subcat.title for subcat in subcats |filter:{category_id:selectedCat.id}" class="form-control" required>
					</select>
				</div>	
			</div>

			<div ng-repeat="question in quiz.questions" ng-if="!question.toDelete" class="col-sm-12 well questionField">
				
				<input ng-model="question.title" class="form-control" placeholder="Введіть текст запитання" type="text" required />
						
				<textarea ng-model="question.description" class="form-control quizMarginTop" placeholder="Введіть пояснення до запитання" type="text" required>
				</textarea>
						
				<div ng-repeat="answer in question.answers" ng-if="!answer.toDelete" class="input-group quizMarginTop col-sm-11  col-xs-12  col-sm-offset-1">
				    <span ng-click="setCorrectAnswer(question,answer)" class="input-group-addon glyphicon quizBtnFix glyphicon-ok markCorrectAnswerBtn" ng-class="{'quizCorrectAnswer':answer.correct}">
				    </span>
				    <input ng-model="answer.title" type="text" class="form-control" placeholder="Введіть відповідь" type="text" required />
				    <span  ng-show="question.answers.length>2" ng-click="deleteAnswer(answer)" class="btn input-group-addon glyphicon glyphicon-remove quizDeleteAnswer quizBtnFix">
				    </span>
				</div>
				<div ng-show="question.invalid" class="quizMarginTop col-sm-11 col-xs-12 col-sm-offset-1 text-danger">* Позначте хоча б одну правильну відповідь</div>
				<button ng-click="addAnswer(question)" class="btn btn-info quizMarginTop"><span class="glyphicon glyphicon-plus"></span> Додати відповідь</button>
				<div ng-show="quiz.questions.length>1" ng-click="deleteQuestion(question,$index)" class="closeButton glyphicon glyphicon-remove"></div>
			</div>
			<div class=" col-sm-12">
				<button ng-click="addQuestion()" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Додати питання</button>
			</div>

			<div class=" col-sm-12 quizMarginTop">
				<button ng-click="saveQuiz()" ng-disabled="quizEditForm.$invalid" class="btn btn-warning">Зберегти  чорновик</button>
				<button ng-click="reviewQuiz()" ng-disabled="quizEditForm.$invalid" class="btn btn-success">Відправити на модерацію</button> 

			<p>
		  		Showing of 'interpolate' filter:
		  		{{ 'Current version is v%VERSION%.' | interpolate }}
			</p>
			</div>
		</form>
	</div>
	<div class="col-md-4">
	 	<div class="text-center">
			<h3>Коментарі модератора</h3>
		</div>
		<blockquote>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
		</blockquote>	
	</div>
</div>