<h1 ng-bind="assessment.name"></h1>

<a href=""> Category </a>

<a href=""> SubCategory </a>

<p ng-bind="assessment.description"></p>
<ol class="assessmentQuestions">
	<li ng-repeat="question in assessment.questions" ng-class="{'assessmentQuestionInvalid':question.invalid}"> 
		<p>{{question.title}}</p>
		

		<ol class="assessmentAnswers">
			<li ng-repeat="answer in question.answers" ng-click="checkAnswer(answer,question)" ng-class="{'assessmentAnswerChecked':answer.checked}"> {{answer.title}}</li>
		</ol>
	</li>
</ol>

<button ng-click="passAssessment()">Pass assessment</button> 

<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
