<div>
<h1 ng-bind="quiz.title" class="text-center"></h1>

<ol class="breadcrumb">
  <li><a href="#"> Category</a></li>
  <li><a href="#">SubCategory</a></li>
  <li class="active">{{quiz.title}}</li>
</ol>

<p ng-bind="quiz.description"></p>
<ul class="list-group assessmentQuestion">
	<li ng-repeat="question in quiz.questions" ng-class="{'list-group-item-danger':question.invalid,' disabled':!question.invalid}"  class="list-group-item" > 
		<p>{{question.title}}</p>
		

		<ul class="list-group assessmentAnswer">
			<li ng-repeat="answer in question.answers" ng-click="checkAnswer(answer,question)" ng-class="{'list-group-item-info':answer.checked}" class="list-group-item"> {{answer.title}}</li>
		</ul>
	</li>
</ul>

<button ng-click="passQuiz()" class="btn btn-primary" role="button">Pass quiz</button> 

<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
</div>