<div class="quiz row">
	<h3 class="text-center assessment-title">Створення нового тесту</h3>
	<div ng-if="errorMsg" ng-bind="errorMsg" class="alert col-sm-12 text-center alert-danger">
	</div>
		<quiz-form  quiz="quiz" quiz-create-form="quizCreateForm"> </quiz-form>
		<div class=" col-sm-12 quizMarginTop">
			<button ng-click="saveQuiz()" ng-disabled="quizCreateForm.$invalid" class="btn btn-warning">Зберегти чорновик</button>
			<button ng-click="reviewQuiz()" ng-disabled="quizCreateForm.$invalid" class="btn btn-success">Відправити на модерацію</button>  
			
		<p>
	  		Showing of 'interpolate' filter:
	  		{{ 'Current version is v%VERSION%.' | interpolate }}
		</p>
		</div>
</div>
	
