<div class="row">
<div class="col-md-12">
<h1 ng-bind="assessment.name"></h1>

<a href=""> Category </a>

<a href=""> SubCategory </a>

<p ng-bind="assessment.description"></p>
<ul class="list-group assessmentQuestion">
	<li ng-repeat="question in assessment.questions" ng-class="{'list-group-item-danger':question.invalid}"  class="list-group-item" > 
		<p>{{question.title}}</p>
		

		<ul class="list-group assessmentAnswer">
			<li ng-repeat="answer in question.answers" ng-click="checkAnswer(answer,question)" ng-class="{'list-group-item-info':answer.checked}" class="list-group-item"> {{answer.title}}</li>
		</ul>
	</li>
</ul>

<button ng-click="passAssessment()" class="btn btn-primary" role="button">Pass assessment</button> 

<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
</div></div>