<div class="row">
	<div class="col-sm-6 col-xs-6 col-sm-offset-1 col-xs-offset-1">
		<h2><b>Ласкаво просимо в Юнак Квіз!</b></h2>
		<p class="quiz-description">Юнак Квіз - це система тестування пластунів. Пройдіть тестування і дізнайтесь багато цікавого
		</p>
    </div>
    <div class="col-sm-4 col-xs-4 col-sm-offset-1 col-xs-offset-1 ">
		<br>
		<p class="about-test-quotation">
			<i>Тести доволі легкі та пізнавальні. З радістю пройшла їх і дізналась багато цікавого. Однозначно рекомендую!
			</i>
		</p>
		<span class="col-sm-offset-4 col-md-offset-5  col-xs-offset-7 quote-author">-Соломія Паделко</span>
	</div>
</div>

<categories-container></categories-container>
