/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* assessment styles */
.assessmentQuestions>li{
  list-style-position:inside;
  padding-left:15px;
  }

.assessmentAnswers li {
  cursor:pointer;
  padding:5px;
  margin:5px;
  list-style-type:lower-alpha;
}

.assessmentQuestionInvalid{
  background:rgb(255,0,0);
}

.assessmentAnswerChecked {
  background:rgb(192,192,192);
}

.assessmentAnswerCorrect {
  background:rgb(0,128,0);
}

.assessmentAnswerUncorrect {
  background:rgb(255,0,0);
}
/* end assessment styles */
/*from category container*/
.categories-container{
  border: 1px solid #ccc;
  padding: 18px 20px 0px;
  margin-bottom: 30px;
  margin-top: -25px;
  margin-left: 14px;
  z-index: 1;
}
/* eof Category container*/
/*contacts page*/
.categories-container .contacts{
  padding-bottom: 20px;
}
.contact-us{
  margin-left: 15%;
  margin-right: 15%;
  background: #f5f5f5;
}
.contact-us h4{
  color:#5bc0de;
}