/* app css stylesheet */
/*styles used in homepage*/
.inner-wraper{
  margin-left: auto;
  margin-right: auto;
}
.page-header h4{
  font-size: 1.9em;
  text-align: center;
}
.header-navmenu {
  margin-left: 15%;
}
.header-navmenu li {
  list-style: none;
  display: inline-block;
  margin-left: 20px; 
  margin-right: 20px;
}
.header-navmenu li a {
  font-size: 1.5em;
  color: #5bc0de;
}
.header-navmenu li a:hover  {
  text-decoration: none;
  color: #0490ba;
 }
.footer-menu-container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.footer-menu {
  width:  202px;
  height: 20px;
  margin: 10px auto 0px;
}
.footer-menu li {
  list-style: none;
  display: inline-block;
  color: #5bc0de;
}
.footer-menu ul {
  padding-left: 0px;
}
.about-test-quotation{
  border-left: 2px solid #ccc; 
  margin-left: 20px; 
  padding-left: 10px;
  margin-top: 20px;
}
.quiz-description{
  font: 18px italic arial;     
  color: #9b9a9a;
}
.pageTitle{
  line-height: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.greetings-container{
  margin-bottom: 50px;
}
.quote-author {
  color:#a5a1a1;
}
 body {
  margin-bottom: 100px;
 }
 html {
  position: relative;
  min-height: 100%;
}

/* assessment styles */
.assessmentQuestions>li{
  list-style-position:inside;
  padding-left:15px;
  }

.assessmentAnswers li {
  cursor:pointer;
  padding:5px;
  margin:5px;
  list-style-type:lower-alpha;
}

.assessmentQuestionInvalid{
  background:rgb(255,0,0);
}

.assessmentAnswerChecked {
  background:rgb(192,192,192);
}

.assessmentAnswerCorrect {
  background:rgb(0,128,0);
}

.assessmentAnswerUncorrect {
  background:rgb(255,0,0);
}
/* end assessment styles */

/*Category Container*/
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 15px solid rgb(6,106,255);
  border-left: 15px solid transparent;
}
.rectangle {
  color:white;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  display: block;
  width: 120px;
  height: 23px;
  overflow: hidden;
  background: rgb(74,147,255);
  text-align: center;
  z-index: 2;
}
.rectangle a {
color: white;
}
.categories-container{
  border: 1px solid #ccc;
  padding: 18px 20px 0px;
  margin-bottom: 30px;
  margin-top: -25px;
  margin-left: 14px;
  z-index: 1;
}
/* eof Category container*/

/* login styles */
.modal-header {
	background-color: #eae8e8;
	border-radius: 7px 7px 0px 0px;
}

.border {
	border: 1px solid #990000;
}

.form-label {
	min-width: 22%;
}
/* end login styles */
/* profile styles */
.profile-avatar {
    width: 170px;
    height: 170px;
}
.profile-container {
	margin-top: 20px;
}
/* end profile styles */