/* app css stylesheet */
/*styles used in homepage*/
.inner-wraper{
  margin-left: auto;
  margin-right: auto;
}
.page-header h4{
  font-size: 1.9em;
  text-align: center;
}
.header-navmenu {
  margin-left: 15%;
}
.header-navmenu li {
  list-style: none;
  display: inline-block;
  margin-left: 20px; 
  margin-right: 20px;
}
.header-navmenu li a {
  font-size: 1.5em;
  color: #5bc0de;
}
.header-navmenu li a:hover  {
  text-decoration: none;
  color: #0490ba;
 }
.footer-menu-container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.footer-menu {
  width:  202px;
  height: 20px;
  margin: 10px auto 0px;
}
.footer-menu li {
  list-style: none;
  display: inline-block;
  color: #5bc0de;
}
.footer-menu ul {
  padding-left: 0px;
}
.about-test-quotation{
  border-left: 2px solid #ccc; 
  margin-left: 20px; 
  padding-left: 10px;
  margin-top: 20px;
}
.quiz-description{
  font: 18px italic arial;     
  color: #9b9a9a;
}
.pageTitleBox {
  height: 50px;
  margin-bottom: 20px;
}
.pageTitle {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.greetings-container{
  margin-bottom: 50px;
}
.quote-author {
  color:#a5a1a1;
}
 body {
  margin-bottom: 100px;
 }
 html {
  position: relative;
  min-height: 100%;
}

/* assessment styles */
.assessmentQuestions>li{
  list-style-position:inside;
  padding-left:15px;
  }

.assessmentAnswers li {
  cursor:pointer;
  padding:5px;
  margin:5px;
  list-style-type:lower-alpha;
}

.assessmentQuestionInvalid{
  background:rgb(255,0,0);
}

.assessmentAnswerChecked {
  background:rgb(192,192,192);
}

.assessmentAnswerCorrect {
  background:rgb(0,128,0);
}

.assessmentAnswerUncorrect {
  background:rgb(255,0,0);
}
/* end assessment styles */

/*styles in subcategory*/

.subcat-section  input.subcat-form {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  width: 91%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.subcat-section  input.subcat-form+button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.subcat-section .content {
  background:#f5f5f5;
  text-align:center;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 0;
}
.subcat-section .content span {padding-right: 5px}
.subcat-section .content span>a:hover{text-decoration:underline}
.subcat-section .content:hover {
-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}
.error-message{
  text-align:center;
  font-size:20px;
  margin:50px 0;
}
.subcat-section span~span:before{
  content:'|';
  padding-right: 5px;
}
/*end of styles in subcategory*/

