/* app css stylesheet */
/*styles used in homepage*/
.inner-wraper{
  margin-left: auto;
  margin-right: auto;
}
.page-header h4{
  font-size: 1.9em;
  text-align: center;
}
.header-navmenu {
  margin-left: 15%;
}
.header-navmenu li {
  list-style: none;
  display: inline-block;
  margin-left: 20px; 
  margin-right: 20px;
}
.header-navmenu li a {
  font-size: 1.5em;
  color: #5bc0de;
}
.header-navmenu li a:hover  {
  text-decoration: none;
  color: #0490ba;
 }
.footer-menu-container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.footer-menu {
  width:  202px;
  height: 20px;
  margin: 10px auto 0px;
}
.footer-menu li {
  list-style: none;
  display: inline-block;
  color: #5bc0de;
}
.footer-menu ul {
  padding-left: 0px;
}
.about-test-quotation{
  border-left: 2px solid #ccc; 
  margin-left: 20px; 
  padding-left: 10px;
  margin-top: 20px;
}
.quiz-description{
  font: 18px italic arial;     
  color: #9b9a9a;
}
.pageTitleBox {
  line-height: 50px;
  margin-bottom: 20px;
}
.pageTitle {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.greetings-container{
  margin-bottom: 50px;
}
.quote-author {
  color:#a5a1a1;
}
 body {
  margin-bottom: 100px;
 }
 html {
  position: relative;
  min-height: 100%;
}

/* assessment styles */
.assessmentQuestions>li{
  list-style-position:inside;
  padding-left:15px;
  }

.assessmentAnswers li {
  cursor:pointer;
  padding:5px;
  margin:5px;
  list-style-type:lower-alpha;
}

.assessmentQuestionInvalid{
  background:rgb(255,0,0);
}

.assessmentAnswerChecked {
  background:rgb(192,192,192);
}

.assessmentAnswerCorrect {
  background:rgb(0,128,0);
}

.assessmentAnswerUncorrect {
  background:rgb(255,0,0);
}
/* end assessment styles */

/*adm-pan categories edit*/
.admin-pan-category-add-input{
  margin: 0px 0px 5px 0px;
}
.admin-pan-category-add-btn{
  margin: 0px 15px 0px 0px;
  position: absolute;
  top:5px;
  right: 5px;
}
.category-add-modal{
  width:500px;
}
.admin-pan-category-add-head{
  margin: 0px 0px 0px 0px;
  position: relative;
  font-weight: bold;
  height: 40px;
  padding-left: 45px;
}
.admin-pan-category-add-input .ng-invalid.ng-dirty{
  border-color: #fa787e;
}
.admin-pan-category-add-input .ng-valid.ng-dirty{
  border-color: #78fa89;
}
.invalid{
  border-color: #fa787e;
}
.admin-pan-category-add-captcha-rnd{
  line-height: 30px;
}
.admin-pan-category-add-input .form-control {
  font-weight: bold;
}
.admin-pan-category-del-msg,
.admin-pan-category-del-err-msg,
.admin-pan-category-edit-err-msg,
.admin-pan-category-create-err-msg{
  color:#c12e2a;
  text-align: center;
  font-weight: bold;
}
.admin-pan-dropDown{
  position: absolute;
  top:35px;
}
/*eof adm-pan categories edit*/