/* app css stylesheet */
/*styles used in homepage*/
.inner-wraper{
  margin-left: auto;
  margin-right: auto;
}
.page-header h4{
  font-size: 1.9em;
  text-align: center;
}
.header-navmenu {
  margin-left: 15%;
}
.header-navmenu li {
  list-style: none;
  display: inline-block;
  margin-left: 20px; 
  margin-right: 20px;
}
.header-navmenu li a {
  font-size: 1.5em;
  color: #5bc0de;
}
.header-navmenu li a:hover  {
  text-decoration: none;
  color: #0490ba;
 }
.footer-menu-container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.footer-menu {
  width:  232px;
  height: 20px;
  margin: 10px auto 0px;
}
.footer-menu li {
  list-style: none;
  display: inline-block;
  color: #5bc0de;
}
.footer-menu ul {
  padding-left: 0px;
}
.about-test-quotation{
  border-left: 2px solid #ccc; 
  margin-left: 20px; 
  padding-left: 10px;
  margin-top: 20px;
}
.quiz-description{
  font: 18px italic arial;     
  color: #9b9a9a;
}
.pageTitleBox {
  line-height: 50px;
  margin-bottom: 20px;
}
.pageTitle {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.greetings-container{
  margin-bottom: 50px;
}
.quote-author {
  color:#a5a1a1;
}
 body {
  margin-bottom: 100px;
 }
 html {
  position: relative;
  min-height: 100%;
}

/* assessment styles */
.quizMarginTop{
  margin-top:20px;
}
.questionField{
  position:relative;
}
.closeButton{
  position:absolute;
  top:5px; 
  right:5px;
   cursor:pointer;
 }
.assessmentQuestion>li{
  margin-top:10px;
}
.quizBtnFix{
  position:relative;
  top:0;
   width:40px;
    cursor:pointer;
  }
.markCorrectAnswerBtn{
  opacity:0.4;
}
.quizCorrectAnswer{
  background:#99E6AC;
  opacity:1;
}
.quizDeleteAnswer{
  background:#F69999;
}
.assessmentAnswer>li{
  cursor:pointer;
}
.assessment-title{
  background:#428bca;
  color:#fff; 
  line-height:50px;
  margin:0 0 20px 0;
}
.nav-tabs>li.persCabActive>a{
  background:#31b0d5;
  color:#fff;
  border-color:#31b0d5;
}
.nav-tabs>li.persCabActive>a:hover{
  border-color:#31b0d5;
  cursor:default;
}
.quiz .ng-dirty.ng-invalid{
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.assessmentAnswerUncorrect {
  background:rgb(255,0,0);
}

/* end assessment styles */

/*admin panel aboutUs tab*/
.about-us-read-btn{
margin-right: 5px;
}
.aboutUsMsg{
 margin-right: 15px;
 line-height: 30px;
 font-weight: bold; 
}
/*eof admin panel aboutUs tab*/

/*Category Container*/
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 15px solid rgb(6,106,255);
  border-left: 15px solid transparent;
}
.rectangle {
  color:white;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  display: block;
  width: 120px;
  height: 23px;
  overflow: hidden;
  background: rgb(74,147,255);
  text-align: center;
  z-index: 2;
}
.rectangle a {
color: white;
}
.categories-container{
  border: 1px solid #ccc;
  padding: 18px 20px 0px;
  margin-bottom: 30px;
  margin-top: -25px;
  margin-left: 14px;
  z-index: 1;
}
/* eof Category container*/

/*admin panel styles*/
.admin-panel-tabs>li>a{
  font-weight: bold;
}
.admin-panel-tabs>li.active>a{
 background-color:#31b0d5;
 color:#fff;
 border-color:#269abc;
}
/*eof admin panel styles*/

/*contacts page*/
.categories-container .contacts{
  padding-bottom: 20px;
}
.contact-us{
  margin-left: 15%;
  margin-right: 15%;
  background: #f5f5f5;
}
.contact-us h4{
  color:#5bc0de;
}
/*eof contacts page*/

/*adm-pan categories edit*/
.admin-pan-category-add-input{
  margin: 0px 0px 5px 0px;
}
.admin-pan-category-add-btn{
  margin: 0px 15px 0px 0px;
  position: absolute;
  top:5px;
  right: 5px;
}
.category-add-modal{
  width:500px;
}
.admin-pan-category-add-head{
  margin: 0px 0px 0px 0px;
  position: relative;
  font-weight: bold;
  height: 40px;
  padding-left: 45px;
}
.admin-pan-category-add-input .ng-invalid.ng-dirty{
  border-color: #fa787e;
}
.admin-pan-category-add-input .ng-valid.ng-dirty{
  border-color: #78fa89;
}
.invalid{
  border-color: #fa787e;
}
.admin-pan-category-add-captcha-rnd{
  line-height: 30px;
}
.admin-pan-category-add-input .form-control {
  font-weight: bold;
}
.admin-pan-category-del-msg,
.admin-pan-category-del-err-msg,
.admin-pan-category-edit-err-msg,
.admin-pan-category-create-err-msg{
  color:#c12e2a;
  text-align: center;
  font-weight: bold;
}
.admin-pan-dropDown{
  position: absolute;
  top:35px;
}
/*eof adm-pan categories edit*/

/*styles for login */
.modal-header {
	background-color: #eae8e8;
	border-radius: 7px 7px 0px 0px;
}

.border {
	border: 1px solid #990000;
}

.form-label {
	min-width: 22%;
}
/* end styles for login */

/*faq page*/
.FAQ_Page a {
  color: #005229;
  text-decoration: none;
  font-size: 17px;
}

.FAQ_Page a:visited {
    background-color: white;
}

.FAQ_Page p {
  font-size: 15px;
}

.FAQ_Page .col-center {
  float: none;
  margin: 0 auto;
}
/*eo faq page*/

/* faq page for admin */
.form-control2 {
  width: 400px;
}

.FAQ_Page .tableStyle {
  font-weight: bold;
}

td#qaColSt {
  width: 65%;
}

td#eColSt{
  width: 15%;
}
/*eo faq page for admin*/
