/* app css stylesheet */
/*styles used in homepage*/
.inner-wraper{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-width: 960px;
}
.page-header h4{
  font-size: 1.9em;
  text-align: center;
}
.header-navmenu {
  margin-left: 15%;
}
.header-navmenu li {
  list-style: none;
  display: inline-block;
  margin-left: 20px; 
  margin-right: 20px;
}
.header-navmenu li a {
  font-size: 1.5em;
  color: #5bc0de;
}
.header-navmenu li a:hover  {
  text-decoration: none;
  color: #0490ba;
 }
.footer-menu-container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.footer-menu {
  width:  202px;
  height: 20px;
  margin: 10px auto 0px;
}
.footer-menu li {
  list-style: none;
  display: inline-block;
  color: #5bc0de;
}
.footer-menu ul {
  padding-left: 0px;
}
.about-test-quotation{
  border-left: 2px solid #ccc; 
  margin-left: 20px; 
  padding-left: 10px;
  margin-top: 20px;
}
.quiz-description{
  font: 18px italic arial;     
  color: #9b9a9a;
}
.pageTitleBox {
  height: 50px;
  margin-bottom: 20px;
}
.pageTitle {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.greetings-container{
  margin-bottom: 50px;
}
.quote-author {
  color:#a5a1a1;
}
 body {
  margin-bottom: 100px;
 }
 html {
  position: relative;
  min-height: 100%;
}
/*eof of styles in homepage*/

/*Category container*/
.triangle-topright {
    width: 0;
    height: 0;
    border-top: 15px solid rgb(6,106,255);
    border-left: 15px solid transparent;
}
.rectangle {
    color:white;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    display: block;
    width: 100px;
    height: 23px;
    overflow: hidden;
    background: rgb(74,147,255);
    text-align: center;
    z-index: 2;
}
.categories-container{
  border: 1px solid #ccc;
  padding: 18px 20px 0px;
  margin-bottom: 30px;
  margin-top: -25px;
  margin-left: 14px;
  z-index: 1;
}

/* eof Category container*/
/* assessment styles */
.assessmentQuestion>li {
  margin-top:10px;
}

.assessmentAnswer>li{
  cursor:pointer;
}
.assessment-title{
  background:#428bca; 
  line-height:50px;
  color:#fff; 
  margin:0 0 20px 0;
}

.form-label {
	min-width: 22%;
}
.footer-menu {
  width:  202px;
  height: 20px;
  margin: 10px auto 0px;
}
.footer-menu li {
  list-style: none;
  display: inline-block;
  color: #5bc0de;
}
.footer-menu ul {
  padding-left: 0px;
}
.about-test-quotation{
  border-left: 2px solid #ccc; 
  margin-left: 20px; 
  padding-left: 10px
}
.quiz-description{
  font: 18px italic arial;     
  color: #9b9a9a;
}
.pageTitleBox {
  height: 50px;
  margin-bottom: 20px;
}
.pageTitle {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.quote-author {
  color:#a5a1a1;
}
 body {
  margin-bottom: 100px;
 }
 html {
  position: relative;
  min-height: 100%;
}
/*eof of styles in homepage*/

.modal-header {
	background-color: #eae8e8;
	border-radius: 7px 7px 0px 0px;
}
/* end assessment styles */
/*Category container*/
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 15px solid rgb(6,106,255);
  border-left: 15px solid transparent;
}
.rectangle {
  color:white;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  display: block;
  width: 120px;
  height: 23px;
  overflow: hidden;
  background: rgb(74,147,255);
  text-align: center;
  z-index: 2;
}
.rectangle a {
color: white;
}
.categories-container{
  border: 1px solid #ccc;
  padding: 18px 20px 0px;
  margin-bottom: 30px;
  margin-top: -25px;
  margin-left: 14px;
  z-index: 1;
}
/* eof Category container*/

.categories-container .contacts{
  padding-bottom: 20px;
}
.contact-us{
  margin-left: 15%;
  margin-right: 15%;
}
.contact-us h4{
  color:#5bc0de;
}
.search-result{
  border: solid 2px transparent;
  padding: 0 19px;
  cursor: pointer;
  -moz-transition: all .2s linear 0.1s;
  -webkit-transition: all .8s linear 0.1s;
  -o-transition: all .2s linear 0.1s;
  transition: all .2s linear 0.1s;
}
.search-result:hover {
  border: solid 2px rgb(221, 219, 219);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .6);
  border-radius: 5px;
}
.search_subcat_select {
    background: #E9E5E5;
}
/*styles in subcategory*/
.subcat-section  select.subcat-form {
  display: inline-block;
  width: 50%;
}
.subcat-section  input.subcat-form {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  width: 80%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.subcat-section  input.subcat-form+button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.subcat-section .content {
  background:#f5f5f5;
  text-align:center;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 0;
}
.subcat-section .content span {margin-left:10px;}
.subcat-section .content span:hover{text-decoration:underline}
.subcat-section .content:hover {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}
.error-message{
  text-align:center;
  font-size:20px;
}
/*end of styles in subcategory*/
.modal-header {
	background-color: #eae8e8;
	border-radius: 7px 7px 0px 0px;
}

.border {
	border: 1px solid #990000;
}

.form-label {
	min-width: 22%;
}
