/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* assessment styles */
.assessmentQuestions>li{
  list-style-position:inside;
  padding-left:15px;
  }

.assessmentAnswers li {
  cursor:pointer;
  padding:5px;
  margin:5px;
  list-style-type:lower-alpha;
}

.assessmentQuestionInvalid{
  background:rgb(255,0,0);
}

.assessmentAnswerChecked {
  background:rgb(192,192,192);
}

.assessmentAnswerCorrect {
  background:rgb(0,128,0);
}

.assessmentAnswerUncorrect {
  background:rgb(255,0,0);
}
/* end assessment styles */
/*SerchPage*/
.search-result{
  border: solid 2px transparent;
  padding: 0 19px;
  cursor: pointer;
  -moz-transition: all .2s linear 0.1s;
  -webkit-transition: all .8s linear 0.1s;
  -o-transition: all .2s linear 0.1s;
  transition: all .2s linear 0.1s;
}
.search-result:hover {
  border: solid 2px rgb(221, 219, 219);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .6);
  border-radius: 5px;
}
.search_subcat_select {
    background: #E9E5E5;
}
/*end SerchPage*/