<div class="row">
  <div class="pageTitleBox bg-primary">
    <h3 class="pageTitle"> {{ parCategory[0].title }} </h3>
  </div>
</div>
<div class="Subcategory_Page">
  <div class="col-sm-3 col-sm-offset-1" ng-repeat="subCat in subCategories">
    <div class="col-sm-12"> 
      <span class="rectangle">
        <a ng-href="#subcategory/{{subCat.id}}">{{subCat.title}}</a>
      </span>
      <div class="triangle-topright"></div>
      <div class="row categories-container">
        <ul class="list-unstyled col-sm-offset-1">
          <li>
            <span class="quote-author"> Тестів:  {{numberTest(subCat.id)}} </span>
          </li>
          <li ng-if="quizz.category_id==subCat.id" ng-repeat="quizz in quizzes ">
            <a href="#/assessments/{{quizz.id}}" data-toggle="tooltip" 
            data-position="top" data-original-title="{{quizz.title}}" tooltip>
              {{quizz.title | charLimit}}
            </a>
          </li> 
        </ul> 
      </div>
    </div> 
  </div>
</div>