<div class="modal-header">
    <h4 class="modal-title text-center">Введіть Ваш пароль</h4>
</div>
<div class="modal-body">
<input type="password" ng-click="clearMsg()" class="form-control text-center" ng-model="pwd.password" />
<p ng-show="errorMsg" ng-bind="errorMsg" class="text-danger text-center"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()" ng-disabled="!pwd.password.length">Видалити</button>
    <button class="btn btn-info" ng-click="cancel()">Відміна</button>

</div>