<div class="subcat-section">

	<div class="row">
	  <div class="pageTitleBox bg-primary">
	    <div class="center-block"><h3 class="pageTitle">Пошук тестів у {{subcategory.title}}</h3></div>
	  </div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-xs-offset-3"> 
			<form>
				<tags-input type="text" 
							class="subcat-form" 
							ng-model="searchTags" 
							add-on-space="true"
							add-on-comma="false"
							add-on-enter="false"
							min-length="3"
							max-length="20"
							placeholder="Пошук">
				</tags-input>
			    <button class="btn btn-primary" ng-click="search(searchData)">
			        <span class="glyphicon glyphicon-search"></span>
			    </button>
			</form>
		</div>
	</div>

	<div ng-repeat="quiz in searchResults" class="row">
		<div class="col-xs-6 col-xs-offset-3">
		   	<div class="content">
		   		<h3 class="text-center quizTitle"><a href="#/assessments/{{quiz.id}}">{{quiz.title}}</a></h3>
		    	<p class = "quizDescription">{{quiz.description}}</p><br>
			 	<span ng-repeat="tag in quiz.allTags"><a ng-click="addToSearch(tag, searchTags)">{{tag}}</a></span>
		  	</div>
		</div>
	</div>

	<div class="row" ng-hide="searchResults">
		<div class="error-message"> На жаль, нічого не знайдено</div>
	</div>

	<div class="row col-xs-offset-3 col-xs-6"> 
	    <div class="text-center" ng-show="totalItems > 10">
	      	<pagination boundary-links="true" 
	                  total-items="totalItems" 
	                  ng-model="currentPage" 
	                  class="pagination-sm"
	                  items-per-page="10" 
	                  max-size="10"
	                  ng-change="changingPage()">
	      	</pagination>
	    </div>
	</div>

</div>
