<div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pageTitleBox bg-primary">
    <div class="center-block"><h3 class="pageTitle">Пошук тестів у підкатегоріях</h3></div>
  </div>
</div>

 <label>
    Сортування по
    <select  ng-model="sorting">
        <option value="date">Даті</option>
        <option value="name">Алфавіту</option>
    </select>
  </label>
 
<label>
  <input type="text"  placeholder="Пошук" ng-model="searchItem.tags">
        <button class="btn btn-default">
        <i class="glyphicon glyphicon-search"></i>
      </button>
</label>


<div ng-repeat="itemTest in testBase | filter: searchItem | orderBy:sorting" class="col-lg-12">
  <div class="title-post-name">{{itemTest.name}}</div>
    <div>{{itemTest.description}}</div>
    <span ng-repeat="tagging in itemTest.tags"><a href="#">{{tagging}}|<a></span>
  
</div>

</div>