<admin-panel></admin-panel>
<div class="panel aboutUsPanel">
  <button type="button" class="btn btn-success pull-right" ng-click="updateData()" >Зберети</button>
  <button type="button" class="btn btn-default about-us-read-btn pull-right" ng-click="readData('reload')" >Відмінити</button>
  <span ng-bind="msg" class="aboutUsMsg"></span>
  <div ng-model="content" text-angular="" ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],['justifyLeft','justifyCenter','justifyRight','indent','outdent'],['html', 'insertImage', 'insertLink']]"></div>
</div>