<!--Modal Delete Category -->
<div class="modal-content">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title text-center">
        <label class="modTitle">Видалити категорію</label>
      </h4>
    <div class="admin-pan-modal-msg">{{errorModalMsg}}</div>
    </div>
  </div>
  <form name="editCat" ng-submit="deleteCategory()">
    <div class="panel-body">
      <div class="row">
        <label class="col-xs-5 control-lablel">Назва категорії</label>
        <label class="control-label col-xs-7">{{catToEditDelete.title}}</label>
      </div>
      <div class="row">
        <label class="col-xs-5 control-lablel">Батьківська категорія</label>
        <label class="col-xs-7 control-lablel">{{subParCatSelect.title}}</label>
      </div>
      <div class="row">
        <label class="col-xs-5 control-lablel category-label">Пароль</label>
        <div class="col-xs-7 admin-pan-category-edit-input">
          <input type="password" class="form-control" placeholder="{{pwdPlaceHolder}}" ng-model="pwdInput"required>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="btn-group pull-left" dropdown is-open="modalDeldropDown.isopen" ng-show="showDropdownSubCats">
        <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle ng-disabled="disabled">Підкатегорії
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="subCat in subCategories"><a>{{subCat.title}}</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-default" ng-click="cancel()">Скасувати</button>
      <input type="submit" class="btn btn-danger" value="Видалити" ng-disabled="lockDeleteBtn"/>
    </div>
  </form>
</div>
