<div ng-show="totalItems>outputData.itemsPerPage" class="row text-center">
	<pagination total-items="totalItems" ng-model="outputData.currentPage" ng-change="queryList()"  items-per-page="outputData.itemsPerPage" class="pagination" ></pagination>
	<div class="pagination pull-right">
		<select ng-change="searchQuery()" ng-model="outputData.itemsPerPage" class="form-control">
		  <option value="10" >10</option>
		  <option value="25" >25</option>
		  <option value="50" >50</option>
		  <option value="{{totalItems}}">Всі</option>
		</select>
	</div>
</div>