<admin-panel></admin-panel>
<div class="panel panel-default">
  <div class="panel-heading admin-pan-category-add-head">
    <div class="row">
      <div class="col-xs-1 text-center catTitleId">№</div>
      <div class="col-xs-2 text-center catTitleName">Назва Категорії</div>
      <div class="col-xs-3 text-center catTitleParentName">Батьківська категорія</div>
      <div class="col-xs-2 text-center quizTitleCount">Кількість тестів</div>
    <!-- Button trigger modal Create Category-->
      <button class="btn btn-primary btn-sm admin-pan-category-add-btn" ng-click="modalCreateCat()">Додати Категорію
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div ng-repeat="category in allCategories" class="toggle">
      <a class="list-group-item col-xs-12">
        <div class="col-xs-1 text-center">{{category.id}}</div>
        <div class="col-xs-2 text-center">{{category.title}}</div>
        <div class="col-xs-3 text-center">{{category.parCatTitle}}</div>
        <div class="col-xs-2 text-center">{{groupedQuizzes[category.id]}}</div>
    <!-- Button trigger modal Edit Category-->
        <button class="btn btn-success btn-xs col-xs-1 col-xs-offset-1" ng-click="modalEditCat(category)">Редагувати</button>
    <!-- Button trigger modal Delete Category -->
        <button class="btn btn-danger btn-xs col-xs-1 col-xs-offset-1" ng-click="modalDeleteCat(category)">Видалити</button>
      </a>
    </div>
  </div>
</div>
