<div class="row">
   	<div class="pageTitleBox bg-primary">
  		<div class="center-block"><h3 class="pageTitle"> Часті Питання </h3></div>
    </div>
</div>
<div class="FAQ_Page">
	<div class="col-md-6 col-center">
		<span ng-repeat="Question in Questions">
			<a href="" ng-click="showAnswer($index)">
				{{$index+1}}. {{Question.faq_question}}
				<span ng-class="showIcon($index)"></span> 
			</a><br/>
			<p class="scale-fade" id="Question{{$index+1}}" ng-show="Question.visible">
				{{Question.faq_answer}}
			</p>
		</span>
	</div>
</div>