<div>
	<form ng-submit="searchTags()"> 
        <div class="input-group">
          <tags-input ng-model="tags"
                      class="bootstrap" 
                      add-on-comma="false" 
                      add-on-space="true" 
                      display-property="tag" 
                      add-from-autocomplete-only="true"
                      placeholder="введіть шось для пошуку...">
            <auto-complete source="loadTags($query)">
            </auto-complete>
          </tags-input>
          <!-- 
          <tags-input type="text" 
                      class="bootstrap" 
                      placeholder="введіть шось для пошуку..." 
                      ng-model="tags" 
                      add-on-space="true"
                      min-length="1"
                      add-on-comma="false"
                      add-on-enter="false">
          </tags-input> -->
          <span class="input-group-btn btn-block">
            <input  type="submit" 
                    ng-click="search()"
                    class="btn btn-primary" 
                    value="Пошук"/>
          </span>  
        </div>                  
      </form>
</div>