<div class="container">
	<br> 
	<br> 
	<br> 
	<div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" ng-repeat="parCat in parCategories">
		<div class="row"> 
			<div class="col-xs-12 col-sm-12 "> 
				<div class="col-lg-10 col-sm-10 ">
					<span class="rectangle">{{parCat.parCatName}}</span>
					<div class="triangle-topright"></div>
					<div class="row categories-container">
						<ul class="list-unstyled  col-sm-offset-1 ">
							<li>
								<span class="quote-author"> Тестів:  {{testsCount(parCat.id)}} </span>
							</li>
							<li ng-if="subCategory.parcat_id==parCat.id" ng-repeat="subCategory in subCategories">
								<a href="#">{{subCategory.subCatName}}</a>
							</li>
						</ul> 
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>
