<div class="container">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3 class="text-center">Реєстрація</h3>
    		<form class="form-horizontal" role="form" ng-submit="reg.submitRegistration()" name="regform" novalidate>
      <div class="form-group">
        <label for="first_name" class="col-sm-4 control-label">Імя</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="first_name" placeholder="First name" ng-model="reg.user.first_name">
        </div>
      </div>
      <div class="form-group">
        <label for="last_name" class="col-sm-4 control-label">Прізвище</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="last_name" placeholder="Last name" ng-model="reg.user.last_name">
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="col-sm-4 control-label">Нік*</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="username" ng-minlength=3 id="username" placeholder="Nick name" ng-change="reg.checkUsernameUniqueness()" ng-model="reg.user.username" required>
          <div class="error-container text-danger" ng-show="(regform.username.$dirty && regform.username.$invalid) || (regform.submitted && regform.username.$invalid)">
            <small class="error" ng-show="regform.username.$error.required">Please input a username</small>
            <small class="error" ng-show="regform.username.$error.minlength">Your username is required to be at least 3 characters</small>
            <small ng-show="regform.username.$error.unique">Username has already been taken</small>
          </div>
        </div>
      </div> 
       <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Пароль*</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" name="password" ng-minlength=8 id="last_name" placeholder="Password" ng-model="reg.user.password" required>
          <div class="error-container text-danger" ng-show="(regform.password.$dirty && regform.password.$invalid) || (regform.submitted && regform.password.$invalid)">
            <small class="error" ng-show="regform.password.$error.required">Please input a password</small>
            <small class="error" ng-show="regform.password.$error.minlength">Your password is required to be at least 8 characters</small>
          </div>
        </div>
      </div>
       <div class="form-group">
        <label for="confirm_password" class="col-sm-4 control-label">Повторіть пароль*</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Repeat password" ng-model="reg.user.password_confirmation" ng-change="reg.checkPassword()" required>
          <small class="text-danger" ng-show="regform.password_confirmation.$dirty && regform.password_confirmation.$error.dontMatch">Passwords don't match!</small>
        </div>
      </div>
        <div class="form-group">
        <label for="email" class="col-sm-4 control-label">Пошта*</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="reg.user.email" required>
          <div class="error-container text-danger" ng-show="(regform.email.$dirty && regform.email.$invalid) || (regform.submitted && regform.email.$invalid)">
            <small class="error" ng-show="regform.email.$error.required">Please input your email</small>
            <small class="error" ng-show="regform.email.$error.email">
                That is not a valid email. Please input a valid email.
            </small>
          </div>
        </div>
      </div>
       <div class="form-group">
        <label for="birthday" class="col-sm-4 control-label">День народження*</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Birthday" ng-model="reg.user.birthday" required>
          <div class="error-container text-danger" ng-show="(regform.birthday.$dirty && regform.birthday.$invalid) || (regform.submitted && regform.birthday.$invalid)">
            <small class="error" ng-show="regform.birthday.$error.required">Please input your birthday</small>
          </div>
        </div>
      </div>
       <div class="form-group">
        <label for="plast_hovel" class="col-sm-4 control-label">Пластовий курінь</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="plast_hovel" placeholder="Plast hovel" ng-model="reg.user.plast_hovel">
        </div>
      </div>
      <div class="form-group">
        <label for="plast_region" class="col-sm-4 control-label">Станиця</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="plast_region" placeholder="Plast region" ng-model="reg.user.plast_region">
        </div>
      </div>
      <div class="form-group">
                <label for="plast_level" class="col-sm-4 control-label"> Пластовий ступінь </label>
                <div class="col-sm-6">
                    <select class="form-control" id="plast_level">
                        <option value="початківець">Початківець</option>
                        <option value="досвідчений">Досвідчений</option>
                        <option value="експерт">Експерт</option>
                    </select>
                </div>
            </div>
      <div class="form-group">
        <label for="number" class="col-sm-4 control-label">Введіть число </label>
        <div class="col-sm-1">
          {{reg.captcha}}
        </div>
        <div class="col-sm-1" id="number">
          <input type="text" ng-model="reg.enteredCaptcha">
        </div>
      </div>
      <div class="form-group text-center">
        <button type="button" class="btn btn-danger" ng-click="reg.cancel()">
          Відмінити
        </button>
	<button type="submit" class="btn btn-success">
          	Реєстрація
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
