                                  <!--Header-->
<div class="row">
  <h3 class="pageTitle bg-primary"> Гостьовий пошук </h3>
</div> 
                              <!--End of header-->
<div class="container-fluid">
                          <!--Here go category selection-->
  <div class="row">  
    <div class="well col-xs-offset-1 col-xs-3">
      <my-guest-search-cat button="searchData(allCats)" categories="allCats"></my-guest-search-cat>
    </div>
                      <!--End of category selection-->

                          <!--Tags input block-->

    <div class="col-xs-7">
      <form ng-submit="searchData(allCats)"> 
        <div class="input-group">
          <tags-input type="text" 
                class="bootstrap" 
                placeholder="введіть шось для пошуку..." 
                ng-model="tags" 
                add-on-space="true"
                min-length="1"
                add-on-comma="false"
                add-on-enter="false">
          </tags-input>
          <span class="input-group-btn btn-block">
            <input  type="submit" 
                    class="btn btn-primary" 
                    value="Пошук"/>
          </span>  
        </div>                  
      </form>
                      <!--End of tags input block-->

                            <!--Error block-->
    <div class="guestSearchMarginTop alert alert-warning" ng-show="searchError==1">Нічого не знайдено...</div>
    <div class="guestSearchMarginTop alert alert-warning" ng-show="searchError==2">Шось пішло не так...</div>
                            <!--End of error block-->

                      <!--Results of search engine-->

      <div ng-repeat="quiz in searchResults" >
        <div class="guestSearchMarginTop search-result well">
          <div class="content">
            <h3 class="text-center"><a class="guestSearchNoDecoration" ng-href="#/assessments/{{quiz.id}}">{{quiz.title}}</a></h3>
            <p class="text-justify">{{quiz.description}}</p><br>
            <div class="text-center"><span class="text-primary">|</span><span ng-repeat="tag in quiz.allTags"><a ng-click="addTag(tag)"><small> {{tag}} </small></a><span class="text-primary">|</span></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
                          <!--End of Results-->
  
                          <!--Pagination part-->
  <div class="row col-xs-offset-4 col-xs-7"> 
    <div class="text-center" ng-show="totalItems > 10">
      <pagination boundary-links="true" 
                  total-items="totalItems" 
                  ng-model="currentPage" 
                  class="pagination-sm"
                  items-per-page="10" 
                  max-size="10"
                  ng-change="pageChanged()">
      </pagination>
    </div>
  </div>
                        <!--End of pagination-->
</div>
