                                <!--Header-->

<div class="row">
	<div class="col-xs-12 pageTitleBox bg-primary">
        <h3 class="pageTitle ">Гостьовий пошук</h3>
    </div>
</div> 

                            <!--End of header-->


<div class="row">
    <div class="col-xs-12">
        <br />
    </div>
</div>



<div class="container">

                        <!--Here go category selection-->

    <div class="well col-xs-3">


        <div ng-repeat="parCat in allCats | filter: {category_id: '0'}">
            
            <a  class="list-group-item"
                ng-init="parCat.search=false"
                ng-click="selectSubCat(allCats, parCat)"
                ng-class="{active: parCat.search}"> 
                {{parCat.title}} 
            </a>

            <div ng-repeat="subCat in allCats"> 

                <a  ng-if="subCat.category_id === parCat.id"
                    class="list-group-item col-xs-offset-1"
                    ng-init="subCat.search=false" 
                    ng-class="{search_subcat_select: subCat.search}"
                    ng-click="subCat.search = !subCat.search">
                    {{subCat.title}}
                    </a>
            </div>
        </div>
        <br />
        <button class="btn btn-info btn-block" 
                ng-click="searchData(allCats, searchRequest.tags)">
                Застосувати фільтр
        </button>
    </div>
    
                    <!--End of category selection-->

                        <!--Tags input block-->

    <div class="input-group col-xs-offset-4">
        <div class="col-xs-10">
        <tags-input 
                    type="text" 
                    class="bootstrap" 
                    placeholder="введіть шось для пошуку..." 
                    ng-model="tags" 
                    add-on-space="true"
                    min-length="1">
        </tags-input>
        <span class="input-group-btn btn-block">
            <button class="btn btn-primary" 
                    type="button" 
                    ng-click="searchData(allCats, searchRequest.tags)">
                    Пошук
            </button>
        </span>  
        </div>                  
    </div>

    <div class="col-xs-9">
        <br />
    </div>


                    <!--End of tags input block-->

                    <!--Results of search engine-->

    <div class= "col-xs-offset-4">
        <div ng-repeat="quiz in searchResults" >
            <div class="col-xs-10 search-result well">
                <div class="content">
                    <h3 class="text-center">{{quiz.title}}</h3>
                    <p class="text-justify">{{quiz.description}}</p><br>
                    <span class=""><a><small>{{quiz.tagString}}</small></a></span>
                </div>
            </div>
        </div>
    </div>

                        <!--End of Results-->
</div>

                        <!--Pagination part-->

<div class="row"> 
    <div class="text-center">
        <ul class="pagination ">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
                        <!--End of pagination-->
