<div class="container-fluid">
                                  <!--Header-->
  <div class="row">
  	<div class="col-xs-12 pageTitleBox bg-primary">
      <h3 class="pageTitle" role="banner">Гостьовий пошук</h3>
    </div>
  </div> 
                              <!--End of header-->

                          <!--Here go category selection-->
  <div class="row">  
    <div class="well col-xs-offset-1 col-xs-3">


    <guestsearchcat tags="tags" all-cats="allCats" filter-fn="searchData(allCats, searchRequest.tags)" ></guestsearchcat>

    </div>
                      <!--End of category selection-->

                          <!--Tags input block-->

    <div class="col-xs-7">
      
    <guestsearchtag tags="tags" all-cats="allCats" filter-fn="" ng-submit="searchData(allCats, searchRequest.tags)"></guestsearchtag>
                 <!--End of tags input block-->

                            <!--Error block-->
    <div class="guestSearchMarginTop alert alert-warning" ng-show="searchError==1">Нічого не знайдено...</div>
    <div class="guestSearchMarginTop alert alert-warning" ng-show="searchError==2">Шось пішло не так...</div>
                            <!--End of error block-->

                      <!--Results of search engine-->

      <div ng-repeat="quiz in searchResults" >
        <div class="guestSearchMarginTop search-result well">
          <div class="content">
            <h3 class="text-center"><a class="guestSearchNoDecoration" ng-href="//localhost:8000/#/assessments/{{quiz.id}}">{{quiz.title}}</a></h3>
            <p class="text-justify">{{quiz.description}}</p><br>
            <div class="text-center"><span class="text-primary">|</span><span ng-repeat="tag in quiz.allTags"><a ng-click="addTag(tag)"><small> {{tag}} </small></a><span class="text-primary">|</span></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
                          <!--End of Results-->
  
                          <!--Pagination part-->
  <div class="row col-xs-offset-4 col-xs-7"> 
    <div class="text-center" ng-show="totalItems > 10">
      <pagination boundary-links="true" 
                  total-items="totalItems" 
                  ng-model="currentPage" 
                  class="pagination-sm"
                  items-per-page="10" 
                  max-size="10"
                  previous-text="Назад" 
                  next-text="Уперед" 
                  first-text="&laquo;" 
                  last-text="&raquo;"
                  ng-change="pageChanged()">
                  <!-- items-per-page="10" MUST BE CHANGED-->
      </pagination>
    </div>
  </div>
                        <!--End of pagination-->
</div>
