<html ng-app>
<head>
  <meta charset="UTF-8">
  <title>Yunak Quiz</title>
  <link rel="stylesheet" href="/assets/application.css"/>
  <link rel="stylesheet" href="/assets/3p/3p.css"/>
</head>
<body>
    <h1>Home Page</h1>
    <p>Home page</p>


    <form action="">
      <input type="text" ng-model="name"/>
      {{name}}
    </form>


    <script type="text/javascript" charset="utf-8" src="/assets/3p/3p.js"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/application.js"></script>

</body>
</html>